.form-input {
    margin-top: 10px;
}

input,
.input,
select,
textarea,
.selectize-input {
    width: 100%;
    border: 1px solid #c2c4d6;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #fafbff !important;
    transition: all .2s;
}

input:disabled,
select:disabled,
textarea:disabled,
.selectize-input.disabled {
    color: black !important;
    opacity: .7 !important;
    cursor: not-allowed !important;
}

.form-input input,
.form-input select {
    height: 40px;
    padding: 0 10px;
}

input:read-only,
textarea:read-only {
    background-color: #e8eaf1;
}

input:disabled,
select:disabled,
textarea:disabled {
    background-color: #e8eaf1;
    cursor: not-allowed;
}

input:focus,
select:focus,
textarea:focus,
.selectize-input:focus {
    border-color: #64b0ff;
    background-color: #eef6ff;
}