<div class="responsive-container">
    <h1>Test Fontend</h1>
    <h5 class="mb-3"><i class="fas fa-user"></i> Brahim Khallota & Lleida.net</h5>
    <hr>
</div>

<div class="responsive-container">
    <div class="row">
        <div class="col-6 col-lg-3 mt-4">
            <div class="card direct-access" onclick="goRoute('users')">
                <div class="card-body text-center">
                    <i class="fad fa-telescope"></i>
                    <span>Buscar usuarios</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-4">
            <div class="card direct-access" onclick="goRoute('sms')">
                <div class="card-body text-center">
                    <i class="fad fa-sms"></i>
                    <span>Enviar SMS</span>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 mt-4">
            <div class="card direct-access" onclick="goRoute('hola')">
                <div class="card-body text-center">
                    <i class="fad fa-debug"></i>
                    <span>Error 404</span>
                </div>
            </div>
        </div>
    </div>
</div>