.card {
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
          box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
  border-radius: 0.42rem;
}
.card .card-header {
  min-height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid #ecf0f3;
}
.card .card-header .card-title {
  line-height: 70px;
  font-weight: 500;
  font-size: 1.275rem;
  color: #212121;
}
.card .card-body {
  padding: 20px;
}
.card .card-footer {
  padding: 14px 20px;
  border-top: 1px solid #ecf0f3;
  overflow: hidden;
}

.card-collapsable .card-header {
  cursor: pointer;
}

.card-collapsable .card-body,
.card-collapsable .card-footer {
  display: none;
}